@import "./variables/global";
@import "reset";
@import "./themes/dark";
@import "./themes/light";
@import "./themes/orange";

.app {
  background: var(--bg-color);
  height: 100vh;
}

.app,
.app_drawer {
  font: var(--font-m);
  color: var(--primary-color);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent; /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 2px solid var(--inverted-primary-color); /* padding вокруг плашки */
}
