.addCommentForm {
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 10px 0 30px;
}

.input {
  flex-grow: 1;
}
