.sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s ease;
}

.switchers {
  position: absolute;
  bottom: 30px;
  width: 100%;
  flex-wrap: wrap;

  .langSwitch {
    padding: 5px 30px;
  }
}

.toggleBtn {
  position: absolute;
  left: 0;
  top: 0;
  z-index: var(--toggle-sidebar-btn-z-index);
}

.links {
  margin-top: 32px;
  margin-left: 30px;
}

.open {
  width: var(--sidebar-width-open);

  .langSwitch {
    margin-left: 30px;
  }
}

.link {
  flex-grow: 1;
}
