.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --primary-color: #0440f2;
  --secondary-color: #0335a3;
  --inverted-primary-color: #0ae00a;
  --inverted-secondary-color: #039203;
}
