.dropdown {
  position: relative;
}

.btn {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.menu {
  background: var(--card-bg);
  position: absolute;
  z-index: 10000;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  overflow: hidden;
}

.menuItem {
  padding: 10px 25px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
  cursor: pointer;
}

.active {
  background: var(--inverted-primary-color);
}

.top-left {
  bottom: 100%;
  right: 0;
  box-shadow: 4px -4px 8px var(--list-box-bg);
}

.top-right {
  bottom: 100%;
  left: 0;
  box-shadow: -4px -4px 8px var(--list-box-bg);
}

.bottom-left {
  top: 100%;
  right: 0;
  box-shadow: 4px 4px 8px var(--list-box-bg);
}

.bottom-right {
  top: 100%;
  left: 0;
  box-shadow: -4px 4px 8px var(--list-box-bg);
}
